body {
    font-size: 24px;
    word-break: break-all;
}

table {
    width: 99.9%;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #aaa;
}

div.quote {
    border: 1px solid #888;
    padding: 10px;
}

div.title {
    font-weight: bold;
}

div.collapse {
    border: 1px solid #888;
    padding: 5px;
    margin: 5px 0 0 0;
}

h5 {
    font-size: 24px;
    color: #D00000;
}

img.circle {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    vertical-align: middle;
}

img.emoticon {
}

ul {
    padding: 0;
    margin: 0;
}

li {
	list-style: inside disc;
	padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

img.invertFilter {
}


.white {color:#fff}
.defaultcolor {color:#10273f}
.skyblue {color:skyblue}
.royalblue {color:royalblue}
.darkblue {color:darkblue}
.orangered {color:orangered}
.crimson {color:crimson}
.firebrick {color:firebrick}
.darkred {color:darkred}
.darkred:hover {color:#713828}
.limegreen {color:limegreen}
.seagreen {color:seagreen}
.teal {color:teal}
.teal:hover {color:#43B2B2}
.deeppink {color:deeppink}
.tomato {color:tomato}
.coral {color:coral}
.purple {color:purple}
.indigo {color:indigo}
.burlywood {color:burlywood}
.sandybrown {color:sandybrown}
.sienna {color:sienna}
.chocolate {color:chocolate}
.ngared {color:#591804}

.orange {color:#A06700}
.orange:hover {color:#EF9C00}
.green {color:#3D9F0E}
.green:hover {color:#6ED73A}
.gray {color:#555}
.gray:hover {color:#666}
.red {color:#D00}
.red:hover {color:#E55}
.blue {color:#06B}
.blue:hover {color:#39E}
.silver {color:#888}
.silver:hover {color:#AAA}
.smoke {color:#A9A9A9}
.smoke:hover {color:#cccccc}
